{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    {{ 'menu.diploma'|trans|capitalize }}
                </h3>

                {% for diploma in diplomas %}
                    <div class="border-bottom pb-3 mb-4 row">
                        <h5 class="font-weight-bold col-md-12">{{ diploma.name }}</h5>
                        <div class="col-md-9">
                            <p class="text-muted">
                                {{ diploma.date ? diploma.date|date('D d/M/Y') : '' }} <br />
                                {{ diploma.author }}
                            </p>
                        </div>

                        <p class="col-md-3">
                            {% include 'components/_buttons.thml.twig' with {
                                'id': diploma.id,
                                'edit': 'ro_diploma_edit',
                                'show': 'ro_diploma_show'
                            } %}
                        </p>
                    </div>
                {% endfor %}

                {% include 'components/_buttons.thml.twig' with {
                    'create': path('ro_diploma_new', {'id': app.user.id})
                } %}
            </div>
        </div>
    </main>
{% endblock %}
