{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'diploma/_list.html.twig' %}

                {% include 'components/_buttons.html.twig' with {
                    'create': path('ro_diploma_new', {'id': app.user.id})
                } %}
            </div>
        </div>
    </main>
{% endblock %}
