<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__.'/src',
        __DIR__.'/migrations',
        __DIR__.'/tests'
    ])
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHP73Migration' => true,
        '@PHP71Migration:risky' => true,
        'blank_line_before_return' => true,
        'multiline_whitespace_before_semicolons' => ['strategy' => 'no_multi_line'],
        'no_useless_else' => true,
        'no_useless_return' => true,
        'phpdoc_order' => true,
        'no_extra_blank_lines' => false,
        'ordered_class_elements' => true,
        'increment_style' => false,
        'visibility_required' => [
            'elements' => ['const', 'method', 'property']
        ],
        'concat_space' => [
            'spacing' => 'one'
        ],
        'native_function_invocation' => [
            'include' => ['@all'],
            'scope' => 'all',
            'strict' => true
        ],
        'yoda_style' => false,
        'class_attributes_separation' => true,
    ])
    ->setUsingCache(false)
    ->setFinder($finder)
;
