{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    {{ 'edit'|trans|capitalize ~ ' ' ~ 'discipline'|trans }}
                </h3>

                <div class="border-bottom pb-3 mb-4">
                    {{ include('discipline/_form.html.twig', {'button_label': 'update', 'discipline_id': discipline.id}) }}

                    {% include 'components/_buttons.html.twig' with {
                        'id': discipline.id,
                        'back': 'ro_discipline_index',
                        'delete': 'ro_discipline_delete'
                    } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
