{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    {{ 'add'|trans|capitalize ~ ' ' ~ 'discipline'|trans ~ ' - ' ~ 'step2'|trans ~ ': ' ~ 'add'|trans ~ ' ' ~ 'topics'|trans }}
                </h3>

                <div class="border-bottom pb-3 mb-4">
                    {% include 'components/_buttons.thml.twig' with {
                        'create': path('ro_topic_new', {'id': discipline.id})
                    } %}

                    {% for topic in topics %}
                        {{ topic }}
                    {% endfor %}

                    {% include 'components/_buttons.thml.twig' with {
                        'back': 'ro_discipline_index'
                    } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
