{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    {{ 'add'|trans|capitalize ~ ' ' ~ 'discipline'|trans ~ ' - ' ~ 'step1'|trans }}
                </h3>

                <div class="border-bottom pb-3 mb-4">
                    {{ include('discipline/_form.html.twig') }}

                    {% include 'components/_buttons.html.twig' with {
                        'back': 'ro_discipline_index'
                    } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
