{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    {{ 'add'|trans|capitalize ~ ' ' ~ 'hours'|trans }}
                </h3>

                <div class="border-bottom pb-3 mb-4">
                    {{ include('lesson/_form.html.twig') }}

                    {% include 'components/_buttons.thml.twig' with {
                        'back': true
                    } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
