{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'individual_plan/_list.html.twig' %}

                {% include 'components/_buttons.html.twig' with {
                    'create': path('ro_individual_plan_new')
                } %}
            </div>
        </div>
    </main>
{% endblock %}
