{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    {{ label|trans|capitalize }}
                </h3>

                <div class="border-bottom pb-3 mb-4">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}

                    {% include 'components/_buttons.thml.twig' with {
                        'back': 'ro_user_index'
                    } %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
